<h1>Ejemplos</h1>
<p>Bienvenido a la página de ejemplos</p>
<div style="display: inline-block; vertical-align: top">
	<p>Usa una de las siguientes urls:<p>
</div>
<div style="display: inline-block; vertical-align: top">
	<ul style="list-style: none">
		<li>/amor</li>
		<li>/omar</li>
		<li>/libros</li>
	</ul>
</div>