<h1>Ejemplos</h1>
<p>Bienvenido a la página de ejemplos</p>
<div style="display: inline-block; vertical-align: top">
	<p>Usa una de las siguientes urls:<p>
</div>
<div style="display: inline-block; vertical-align: top">
	<ul style="list-style: none">
		<li><a href="http://localhost:3000/ejemplos/amor">/amor</a></li>
		<li><a href="http://localhost:3000/ejemplos/omar">/omar</a></li>
		<li><a href="http://localhost:3000/ejemplos/libros">/libros</a></li>
		<li><a href="http://localhost:3000/ejemplos/planetas">/planetas</a></li>
	</ul>
</div>