<h1>Escalas</h1>
<p>Bienvenido a la página de escalas</p>
<div style="display: inline-block; vertical-align: top">
	<p>Usa una de las siguientes urls para interactuar con la base de datos:<p>
</div>
<div style="display: inline-block; vertical-align: top">
	<ul style="list-style: none">
		<li>/escalas1: <br>añade una entrada a la base de datos con el parámetro <i>escala</i> definido como <i>mayor</i></li><br>
		<li>/escalas2?escala=cosa: <br>añade una entrada a la base de datos con el parámetro <i>escala</i> definido como <i>cosa</i></li><br>
		<li>/escalas3?escala=cosa&grado=X: <br>añade una entrada a la base de datos con los parámetros <i>escala</i> y <i>grado</i>definido como <i>cosa</i> y <i>X</i> (donde <i>X</i> es un número del 1 al 7)</li><br>
		<li>/escalas4?escala=cosa&grado=X: <br>añade una entrada a la base de datos con los parámetros <i>escala</i> y <i>grado</i>definido como <i>cosa</i> y <i>X</i> (donde <i>X</i> es un número del 1 al 7) sin que se pueda hacer injección SQL</li><br>
	</ul>
</div>